body {
    background-image: url('assets/galaxyBg.jpeg');
    background-attachment: fixed; /* Add this line */
    margin: 0;
    padding: 0;
}
#container {    
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.5); /* 0.5 = 50% opacity */
    padding: 20px 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 555px;
    margin: 50px auto;
    background-color: rgba(179, 179, 179, 0.5);
}
#containerAssets {
    opacity: 100%;
}
.thumbnail {
    border-radius: 20px;
    width: 275px;
    height: 275px;
}
img {
    transition: transform 0.2s ease;
}
img:hover {
    transform: scale(1.15);
}